build*/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
!/Makefile
*.cmake
!CMakeLists.txt

# Binaries / objects
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dll
*.dylib

# Editors / IDEs
.vs/
.vscode/
.idea/
*.user
compile_commands.json
# compiled binaries live in build/bin, but just in case:
variant*/prime
variant*/prime.exe
